<div class="bg-teal-900 min-h-screen overflow-y-auto flex flex-col items-center text-center p-8 md:p-12 lg:p-20 xl:p-24 relative">

  <!-- Logo -->
  <img src="./assets/logo.png" class="absolute top-4 left-4 w-16 h-16 sm:w-20 sm:h-20 md:w-24 md:h-24 lg:w-28 lg:h-28 object-contain">

  <!-- Heading -->
  <h1 class="text-4xl sm:text-5xl md:text-6xl lg:text-5xl font-extrabold text-white leading-snug sm:leading-tight lg:leading-snug mb-6 sm:mb-8">
    Welcome to Africom <br /> Energies Group
  </h1>

  <!-- Subtext -->
  <p class="text-gray-200 text-base sm:text-lg md:text-xl lg:text-xl max-w-sm sm:max-w-xl lg:max-w-3xl mb-8 sm:mb-12 leading-relaxed">
    Africom Energies Group specializes in Oil & Gas Consultancy and Construction services, delivering excellence in every project.
  </p>

  <!-- Buttons -->
  <div class="flex flex-col sm:flex-row space-y-4 sm:space-y-0 sm:space-x-4 mb-10">
    <button routerLink="/home" class="bg-lime-400 text-teal-900 font-semibold text-sm sm:text-base px-6 py-2 sm:px-8 sm:py-2 md:px-8 md:py-2 lg:px-10 lg:py-3 rounded-full transition duration-300 transform hover:scale-105 hover:bg-lime-500 shadow-lg hover:shadow-xl">
      Get Started
    </button>
    <button routerLink="/services" class="border border-gray-400 text-gray-200 font-semibold text-sm sm:text-base px-6 py-2 sm:px-8 sm:py-2 md:px-8 md:py-2 lg:px-10 lg:py-3 rounded-full transition duration-300 hover:bg-gray-700 hover:border-gray-600 hover:shadow-xl">
      Explore Services
    </button>
  </div>

  <!-- Image Slider Section -->
  <section class="relative w-full py-8 shadow-lg rounded-lg overflow-hidden">
    <div class="w-full max-w-5xl mx-auto">
      <div class="flex space-x-4 animate-slide">
        <!-- Image1 -->
        <div class="flex-shrink-0 w-full cursor-pointer h-54 md:h-64 lg:h-72 overflow-hidden rounded-lg shadow-xl">
          <img src="./assets/petrol.jpg" class="w-full h-full object-cover" />
        </div>
        <!-- Image2 -->
        <div class="flex-shrink-0 w-full cursor-pointer h-54 md:h-64 lg:h-72 overflow-hidden rounded-lg shadow-xl">
          <img src="./assets/petrol2.png" class="w-full h-full object-cover" />
        </div>
         <!-- Image3 -->
        <div class="flex-shrink-0 w-full cursor-pointer h-54 md:h-64 lg:h-72 overflow-hidden rounded-lg shadow-xl">
          <img src="./assets/petrol1.jpg" class="w-full h-full object-cover" />
        </div>
      </div>
    </div>
  </section>
</div>
