<div class="bg-teal-900 min-h-screen overflow-y-auto flex flex-col items-center text-center p-8 md:p-12 lg:p-20 xl:p-24">

  <!-- Heading -->
  <h1 class="text-5xl md:text-6xl lg:text-5xl font-extrabold text-white leading-snug md:leading-tight lg:leading-snug mb-8">
    Welcome to Africom <br /> Energies Group
  </h1>

  <!-- Subtext -->
  <p class="text-gray-200 text-lg md:text-xl lg:text-1xl max-w-xl lg:max-w-3xl mb-12 leading-relaxed">
    Africom Energies Group specializes in Oil & Gas Consultancy and Construction services, delivering excellence in every project.
  </p>

  <!-- Buttons -->
  <div class="flex space-x-6 mb-14">
    <button routerLink="/home" class="bg-lime-400 text-teal-900 font-semibold text-lg px-8 py-2 md:px-10 md:py-4 rounded-full transition duration-300 transform hover:scale-105 hover:bg-lime-500 shadow-lg hover:shadow-xl">
      Get Started
    </button>
    <button class="border border-gray-400 text-gray-200 font-semibold text-lg px-10 py-2 md:px-10 md:py-4 rounded-full transition duration-300 hover:bg-gray-700 hover:border-gray-600 hover:shadow-xl">
      Explore Services
    </button>
  </div>

  <!-- Image Slider Section -->
  <section class="relative w-full py-8 shadow-lg rounded-lg overflow-hidden">
    <div class="w-full max-w-5xl mx-auto">
      <div class="flex space-x-6 animate-slide">
        <!-- Image1 -->
        <div class="flex-shrink-0 w-full cursor-pointer h-48 md:h-64 lg:h-72 overflow-hidden rounded-lg shadow-xl">
          <img src="./assets/petrol.jpg" class="w-full h-full object-cover" alt="Petrol Image 1" />
        </div>
        <!-- Image2-->
        <div class="flex-shrink-0 w-full cursor-pointer h-48 md:h-64 lg:h-72 overflow-hidden rounded-lg shadow-xl">
          <img src="./assets/petrol1.jpg" class="w-full h-full object-cover" alt="Petrol Image 2" />
        </div>
      </div>
    </div>
  </section>
</div>
